/* _content/WebApp/Pages/Contacts.razor.rz.scp.css */
h1[b-a8p09g3coh] {
    color: black;
    font-size: xx-large;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}
h2[b-a8p09g3coh] {
    color: black;
    font-size: x-large;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}

thead[b-a8p09g3coh] {
    font-size: x-large;
    font: bold;
}

table[b-a8p09g3coh] {
    background-color: #FFFAFA;
    color: Highlight;
    font-family: 'Comic Sans MS';
    text-align: center;
}

p[b-a8p09g3coh] {
    color: dodgerblue;
    font-size: x-large;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}
/* _content/WebApp/Pages/FetchLeaderboard.razor.rz.scp.css */
h1[b-itc7h5egit] {
    color: black;
    font-size: xx-large;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}
thead[b-itc7h5egit] {
    font-size: x-large;
    font: bold;
}
table[b-itc7h5egit] {
    background-color: #FFFAFA;
    color: Highlight;
    font-family: 'Comic Sans MS';
    text-align: center;
}

/* _content/WebApp/Pages/Index.razor.rz.scp.css */
ttbody[b-8nt4pwf2vu] {
    color: dodgerblue;
    font-size: xx-large;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
    margin-left: 500px;
    text-align: center;
}
h1[b-8nt4pwf2vu] {
    color: black;
    font-size: xx-large;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}

thead[b-8nt4pwf2vu] {
    font-size: x-large;
    font: bold;
}

table[b-8nt4pwf2vu] {
    background-color: #FFFAFA;
    color: Highlight;
    font-family: 'Comic Sans MS';
    text-align: center;
}
p[b-8nt4pwf2vu] {
    color: dodgerblue;
    font-size: x-large;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}
a[b-8nt4pwf2vu] {
    color: darkred;
    font-size: x-large;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}
/* _content/WebApp/Pages/Information.razor.rz.scp.css */
h1[b-yuevbmj2fs] {
    color: black;
    font-size: xx-large;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}

thead[b-yuevbmj2fs] {
    font-size: x-large;
    font: bold;
}

table[b-yuevbmj2fs] {
    background-color: #FFFAFA;
    color: Highlight;
    font-family: 'Comic Sans MS';
    text-align: center;
}

p[b-yuevbmj2fs] {
    color: dodgerblue;
    font-size: x-large;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}
/* _content/WebApp/Shared/MainLayout.razor.rz.scp.css */
.page[b-snfefjgk3b] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-snfefjgk3b] {
    flex: 1;
}

.sidebar[b-snfefjgk3b] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-snfefjgk3b] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-snfefjgk3b]  a, .top-row .btn-link[b-snfefjgk3b] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-snfefjgk3b] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-snfefjgk3b] {
        display: none;
    }

    .top-row.auth[b-snfefjgk3b] {
        justify-content: space-between;
    }

    .top-row a[b-snfefjgk3b], .top-row .btn-link[b-snfefjgk3b] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-snfefjgk3b] {
        flex-direction: row;
    }

    .sidebar[b-snfefjgk3b] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-snfefjgk3b] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-snfefjgk3b] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/WebApp/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-c2wpa7m53j] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-c2wpa7m53j] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-c2wpa7m53j] {
    font-size: 1.1rem;
}

.oi[b-c2wpa7m53j] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-c2wpa7m53j] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-c2wpa7m53j] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-c2wpa7m53j] {
        padding-bottom: 1rem;
    }

    .nav-item[b-c2wpa7m53j]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-c2wpa7m53j]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-c2wpa7m53j]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-c2wpa7m53j] {
        display: none;
    }

    .collapse[b-c2wpa7m53j] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
