h1[b-a8p09g3coh] {
    color: black;
    font-size: xx-large;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}
h2[b-a8p09g3coh] {
    color: black;
    font-size: x-large;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}

thead[b-a8p09g3coh] {
    font-size: x-large;
    font: bold;
}

table[b-a8p09g3coh] {
    background-color: #FFFAFA;
    color: Highlight;
    font-family: 'Comic Sans MS';
    text-align: center;
}

p[b-a8p09g3coh] {
    color: dodgerblue;
    font-size: x-large;
    font-family: 'Comic Sans MS';
    margin-bottom: 30px;
}
