h1[b-itc7h5egit]{
    color: dodgerblue;
    font-size:xx-large;
    font-family:'Comic Sans MS';
    margin-bottom: 30px;
}
thead[b-itc7h5egit] {
    font-size: x-large;
    font: bold;
}
table[b-itc7h5egit] {
    background-color: #FFFAFA;
    color: Highlight;
    font-family: 'Comic Sans MS';
    text-align: center;
}

