@page "/"

<h1>RogueLikeGame</h1>
<p></p>
<p>
    RogueLikeGame is a 2D Top-view game made with unity. Beat enemies, find the right ways in the labyrinths
    and compete against over players
</p>
<p></p>
<table width:50px; border: 1px solid black">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="https://firebasestorage.googleapis.com/v0/b/roguelikegame-64f8f.appspot.com/o/MainScreen.png?alt=media&token=aef1e878-6b27-4303-a2a1-d9ce67506cdf" alt="Goblin" width="400" height="300">
            </td>
            <td>
                <ttbody>
                    <p>Download links: </p>
                    <p>Download link for <a href="https://firebasestorage.googleapis.com/v0/b/roguelikegame-64f8f.appspot.com/o/RogueLikeGame%20Setup%20(x86_64).exe?alt=media&token=ef358852-a717-456b-b503-09e513b2762b">Windows</a></p>
                </ttbody>
            </td>
        </tr>
    </tbody>
</table>
<p></p>
<p>You can see additional information by going to Information tab or simply by clicking <a href="/Information">this</a><br /> </p>
<p></p>
<p>Game Screenshots</p>
<table width:50px; border: 1px solid black">
    <thead>
        <tr>
            <th>
                <img src="https://firebasestorage.googleapis.com/v0/b/roguelikegame-64f8f.appspot.com/o/Game2.png?alt=media&token=5075dbdb-6362-4501-820c-dcc3da3e7129" alt="Goblin" width="400" height="300">
            </th>
            <th>
                <img src="https://firebasestorage.googleapis.com/v0/b/roguelikegame-64f8f.appspot.com/o/Game5.png?alt=media&token=7fe3cf37-8019-4a4c-98e8-bbc001a4dd6a" alt="Goblin" width="400" height="300">
            </th>
        </tr>


    </thead>
    <tbody>
        <tr>
            <td>
                <img src="https://firebasestorage.googleapis.com/v0/b/roguelikegame-64f8f.appspot.com/o/Game3.png?alt=media&token=e8200ae1-8fad-4760-b8a9-505feb25e26a" alt="Goblin" width="400" height="300">
            </td>
            <td>
                <img src="https://firebasestorage.googleapis.com/v0/b/roguelikegame-64f8f.appspot.com/o/Game4.png?alt=media&token=faa016a7-3a07-4aee-9f20-8ba59d4ebe42" alt="Goblin" width="400" height="300">
            </td>
        </tr>
    </tbody>
</table>
<p></p>



